.anim:active .ball-one {
    left: 150px;
    transition: left 500ms ease-in;
}
  
  /* 
  ================================
  Your code here! 
  Make the small ball on the right roll to the right when the large one hits it.
  
  */
.anim:active .ball-two {
    margin-left: 150px ;
    transition-timing-function: ease-in ;
    transition-delay: 450ms;
}
.ball-one {
    background: #ff97C0;
    border-radius: 50%;
    position: absolute; top: 0px; left: 00px;
    width: 200px; height: 200px;
}
  
.ball-two {
    background: #0097C0;
    border-radius: 50%;
    position: absolute; top: 100px; left: 300px;
    width: 100px; height: 100px;
} 